    {% include "partials/header.html" %}
</head>

<body>
      {% include "partials/navbar.html" %}

<div class="container-fluid">
       <h1>Home page</h1>
    <div class="row">
        <div class="card card_film">
          <div class="card-body">
            <h5 class="card-title">Hello</h5>
            <h6 class="card-subtitle mb-2 text-muted">Hello 2</h6>
            <h6 class="card-subtitle mb-2 text-muted">Hello 3</h6>
            <h6 class="card-subtitle mb-2 text-muted">Hello 4</h6>
          </div>
        </div>
    </div>
</div>


{% include "partials/footer.html" %}
</body>
</html>