{% include "partials/header.html" %}
</head>

<body>
    {% include "partials/navbar.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="block float-left border col-10">
                hello faire la hauteur mettre photo profil et menu

            </div>

            <div class="block float-right col-2">
                {% for follower in followers %}
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="..." style="height:100px">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>