{% include "partials/header.html" %}
</head>

<body>
    {% include "partials/navbar.html" %}
    <div class="container-fluid">
        <div class="fb-profile-block-fluid">
            <div class="fb-profile-block-thumb"><img src="http://themeboxer.com/demo/snipp/coverpage.jpg" alt="" title=""></div>
            <div class="profile-img"><a href="#"><img src="http://themeboxer.com/demo/snipp/profile.jpg" alt="" title=""></a></div>
            <div class="profile-name">
                <h2>Profile Name</h2>
            </div>

            <div class="fb-profile-block-menu">
                <div class="block-menu">
                    <ul>
                        <li><a href="#">Timeline</a></li>
                        <li><a href="#">about</a></li>
                        <li><a href="#">Friends</a></li>
                        <li><a href="#">Photos</a></li>
                        <li><a href="#">More...</a></li>
                    </ul>
                </div>
            </div>
            <div class="block float-right">
                {% for follower in followers %}
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</body>